---
layout: default
title: Home
comments: false
toc: true
---

<br>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h4 class="post-title"><b>{{ post.title }}</b></h4>

    <span class="post-metadata">{{ post.date | date: "%B %d, %Y" }}</span>
    {% if post.excerpt == 'status' %}
    {{ post.content }}
    {% else %}
    <p>{{ post.excerpt }}</p>
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Read more...</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

<br>
<!-- The Newer and older Button -->
<div class="pagination" style="margin-bottom: 60px;">

  <div class="container" style="margin: 0; text-align: left;">
  <button type="button" class="btn btn-primary">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/"  style="color: white;"> &larr;Newer</a>w
      {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{ paginator.previous_page }}"  style="color: white;">&larr;Newer</a>
      {% endif %}
    {% else %}
    <span class="pagination-item newer">&larr;Newer</span>
    {% endif %}
  </button>
</div>

<div class="container" style="margin: 0; text-align: right;">
  <button type="button" class="btn btn-primary">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{ paginator.next_page }}" style="color: white;">Older&rarr;</a>
    {% else %}
    <span class="pagination-item older">Older&rarr;</span>
    {% endif %}
  </button>
  </div>


</div>

