<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}/" title="Home">
      <h4 style="color: white;"><b>{{ site.title }}</b><br></h4>
    </a>

    <!-- Definition for the button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation menu -->
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}
        <li class="nav-item">
            &nbsp;
            <a class="nav-link" href="{{ item.link }}">
              <h4 style="color: white;">&nbsp;&nbsp;{{ item.name }}</h4>
            </a>
        </li>
        {% endfor %}
      </ul>
    </div> -->

    <!-- TO-DO: New feature--Adding a dropdown menu  -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}

          {% if item.name == "About Me" %}
          <li class="nav-item dropdown">
            <div class="btn-group">
              <a href="{{ item.link }}" class="btn btn-link nav-link"><h5 style="color: white;"><br>{{ item.name }}</h5></a>
              <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"><br></h5></a>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="/Zhengqi_Dong_CV_2021-2022.pdf">CV</a></li>
                <li><a class="dropdown-item" href="/Zhengqi_Dong_Resume_Underg_OSU_CSE_2021.pdf">SDE Resume</a></li>
              </ul>
            </div>
        </li>

          {% elsif item.name == "Surviving Kits" %}
          <li class="nav-item dropdown">
            <!-- Dropdown Menu Header -->
            <h5 class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"><a><br>{{ item.name }}</a></h5>
            <!-- Dropdown Menu Items -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for subitem in item.link %}
              <li><a class="dropdown-item" href="{{ subitem.sublink }}">{{ subitem.subname}}</a></li>
              {% endfor %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/osu_html_home.html">OSU HTML Portal</a></li>
              <li><a class="dropdown-item" href="/Surviving_kits\Advice for PhD.html">OSU Advice for PhD</a></li>
            </ul>
          </li>
          {% elsif item.name == "Knowledge Bank" %}
            <!-- Other Normal Items -->
            <li class="nav-item">
              <!-- &nbsp; -->
              <a class="nav-link" type="button" onClick="passWord()" href="{{ item.link }}">
                <h5 style="color: white;"><br>{{ item.name }}</h5>
              </a>
            </li>
          {%else %}
          <!-- Other Normal Items -->
          <li class="nav-item">
            <!-- &nbsp; -->
            <a class="nav-link" href="{{ item.link }}">
              <h5 style="color: white;"><br>{{ item.name }}</h5>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- Search Bar -->
    <!-- <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form> -->

  </div>
</nav>

<!-- <nav>
  <div class="masthead">
    <div class="container">
      <h3 class="masthead-title">
        <a href="{{ site.url }}/{{ site.home_url }}" title="Home">{{ site.title }}</a>

        {% for item in site.data.navigation %}
          &nbsp;&nbsp;&nbsp;<small><a href="{{ item.link }}">{{ item.name }}</a></small>
        {% endfor %}
      </h3>
    </div>
  </div>
</nav> -->