---
layout: default
title: About Me
---

<!-- <!doctype html>
<html lang="en"> -->
<!-- <head> -->
<!-- Required meta tags -->
<!-- <meta name="description" content="About Me"> -->

<!-- <link rel="shortcut icon" type="image/jpg" href="img/R_favicon.jpg"> -->
<!-- <title>Zhengqi(Drago) Dong</title> -->

<!-- Custom styles for this template -->
<link href="/assets/bootstrap/css/bootstrap.4.5.0.css" rel="stylesheet">
<link href="/assets/theme.css" rel="stylesheet">
<!-- Pretty icons from https://feathericons.com/ -->
<!-- <script src="https://unpkg.com/feather-icons"></script> -->

<!-- Here are thing we want to put after Navigation panel (exclusive for AboutMe page), e.g., visitor counter, note, last update..-->
<div align=center>
  <p>Welcome! You’re the
    <!-- Visitor Counter. For implementation, please refers to https://www.counter12.com/-->
    <a href='https://www.counter12.com'><img src='https://www.counter12.com/img-c1Y666a5Zzcy9Zy2-3.gif' border='0' alt='counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=c1Y666a5Zzcy9Zy2'></script>
    <sup>th</sup> visitor since 05/25/2021.
  </p>
  <p>Last Update: May, 25<sup>th</sup>, 2021.</p>
</div>
<hr>


  <div class="title">
    <div class="intro">
      <div class="photo"> <img src="../assets/images/trophy.jpg"> </div>
      <div><a href="http://danserver.com/nctta/IndivMatches.asp?id=14577">2018-19 NCTTA Midwest Regional
          Championships</a></div>
    </div>
    <h3><strong>Zhengqi(Drago) Dong</strong></h3>
    <a href="https://www.osu.edu/"><strong>The Ohio State University</strong></a> <br>
    <embed src="img/mail.svg" width="16" height="16" type="image/svg+xml" /> <a
      href="mailto:dong.760@osu.edu">dong.760@osu.edu</a> <br>
    <embed src="img/github.svg" width="16" height="16" type="image/svg+xml" /> <a
      href="https://github.com/drago1234">drago1234</a> <br>
    <embed src="img/linkedin.svg" width="16" height="16" type="image/svg+xml" /> <a
      href="https://www.linkedin.com/in/zhengqi-dong/">zhengqi-dong</a> <br>
    <!--
        <embed src="img/twitter.svg" width="16" height="16" type="image/svg+xml"/> <a href="https://twitter.com/RonZiruChen">@RonZiruChen</a> <br>
        -->
    <br>
    I am currently a senior-year undergraduate student at The Ohio State University, pursuing a major in <strong>
      Computer Science and Engineering</strong> (with Artificial Intelligence as my specialization) and a minor in
    Statistics. Before studying abroad at OSU, I obtained my high school degree from Foreign Language School Attached to
    Guangxi Normal University. <br><br>
    Particulary, my interests particularly focus on <strong> High-Perfromance Deep Learning, Object Detection, and Data
      Analysis</strong>. Besides that, I am actively seeking the opportunies to gain more hand-on experience about
    Robotic Control and SLAM. So far, I am proficient in spearking Chinese and English.
    <!-- I would love to have a taste of more European languages such as Latin, as my favorite quote is in this language: <br>
        <div class="quote">
        &nbsp;&nbsp;&nbsp;&nbsp;“Cogito, ergo sum.” – René Descartes (Or, in English, “I think, therefore I am.”) <br>
        </div> -->
  </div>
  <div class="subtitle">
    <embed src="img/star.svg" width="16" height="16" type="image/svg+xml" /> I am actively <strong>looking for an internship in summer 2021</strong>. Please feel free to email me if you think I am a good fit to the team! <br>
    <!-- <embed src="img/star.svg" width="16" height="16" type="image/svg+xml"/> I am staying outside the U.S. for Autumn 2020 due to the travel ban. Please allow <strong>a 24h period</strong> to hear back from me. 
        But you are always welcome to remind me after this grace period. <br> -->
  </div>
  <br>

  <!-- For the following education section desgin, please refers to 1) http://web.cse.ohio-state.edu/~zhang.9975/, and 2)https://github.com/StartBootstrap/startbootstrap-resume -->

  <h3 id="Education"><strong>Education</strong></h3>
  <section class="resume-section p-3 d-flex align-items-center" id="edu">
    <div class="w-150">

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h4 class="mb-0">
            <a href="https://www.bu.edu/homepage-alt/">Boston University</a>
          </h4>
          <div>
            <i class="fa fa-location-arrow" aria-hidden="true"></i>Boston, Massachusetts, U.S.A
          </div>
          <div style="font-size: 18px; font-style: italic;">
            <i class="fa fa-university" aria-hidden="true"></i>Master of Science in Robotics & Autonomous Systems
          </div>
          <div>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>GPA 4.0/4.0
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Aug. 2021 - May. 2023 (Expected)</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h4 class="mb-0">
            <a href="https://www.osu.edu/">The Ohio State University</a>
          </h4>
          <div>
            <i class="fa fa-location-arrow" aria-hidden="true"></i>Columbus,
            OH, U.S.A
          </div>
          <div style="font-size: 18px; font-style: italic;">
            <i class="fa fa-university" aria-hidden="true"></i>Bachelor of Computer Science and Engineering (Minor:
            Statistics & Specialization: AI)
          </div>
          <div>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>Honor: Cum Laude, Graduate with Honor in Engineering, and Hornor Research Distinction in Food, Agricultural and Biological Engineering.
            <br>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>Thesis: Image-Based Plant Leaf Disease Recognition with
            InceptionV3 Network (<a href="https://kb.osu.edu/handle/1811/92465">Source</a>)
            <br>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>GPA 3.65/4.0
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Aug. 2017 - May. 2021</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h4 class="mb-0">
            <a href="http://www.scu.edu.cn/">University of Dayton</a>
          </h4>
          <div>
            <i class="fa fa-location-arrow" aria-hidden="true"></i>Dayton,
            OH, U.S.A
          </div>
          <div style="font-size: 18px; font-style: italic;">
            <i class="fa fa-university" aria-hidden="true"></i>Bachelor of
            Mecahnical Engineering (Transfer out)
          </div>
          <div>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>GPA 3.87/4.0
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Sept. 2015 - July 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h4 class="mb-0">
            <a href="http://www.gxfls.com/">Foreign Language School Attached to Guangxi Normal University
              (广西师范大学附属外国语学校)</a>
          </h4>
          <div>
            <i class="fa fa-location-arrow" aria-hidden="true"></i>Guilin,
            Guangxi, P.R.China
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Sept. 2013 - June 2015</span>
        </div>
      </div>

    </div>
  </section>

  <!-- Name: Zhengqi Dong
      Degree: Bachelor of Science in Computer Science and Engineering, Artificial Intelligence          
      Minors and/or Secondary Majors: Statistics Minor             
      Honors and Distinctions: Cum Laude  with Honors in Engineering with Honors Research Distinction in Food, Agricultural, and Biological Engineering -->
  <div class="news">
    <h3 id="News"><strong>News</strong></h3>
    <embed src="img/briefcase.svg" width="16" height="16" type="image/svg+xml" /> <strong>2021-Sep:</strong>
    I will be staring my graduate study at Boston University toward Master of Science in Robotics and Autonomous System.
    <br>
    <i data-feather="circle"></i>

    <embed src="img/briefcase.svg" width="16" height="16" type="image/svg+xml" /><strong> 2021-April:</strong>
    I will be giving a presentation at <strong>URF(Undergraduate Research Forum)</strong> on 4/1 (More details about URF
    at <a href="https://engineering.osu.edu/undergraduate-research-forum-engineering-and-architecture"
      target="_top">Link</a>) and another one at <strong>Denman Undergraduate Research Forum</strong> on Monday, April
    5th, 2021, 4:00 pm–5:30 pm – Engineering: Physical Sciences Panel, register at here <a
      href="https://u.osu.edu/26thdenmanforum/student-presentations/">Link</a> (More details about Denman Undergraduate
    Research Forum at <a href="https://ugresearch.osu.edu/Pages/Homepage.aspx">Link</a>)<br>

    <embed src="img/briefcase.svg" width="16" height="16" type="image/svg+xml" /> <strong>2020-Aug:</strong> Employed as <strong>Instruction Assistant</strong> for CSE 3461: Computer Networking and Internet Technologies
    <br>

    <embed src="img/briefcase.svg" width="16" height="16" type="image/svg+xml" /> <strong>2020-Aug:</strong> I completed a <strong>Working Behavior test</strong> that is supported by <a
      href="https://secure.plum.io/en/p/htsyj2WwSuRKtiYuxgKJbQ/top-talents">Plum</a>. It was a behavior test that
    requested by Bloomberg Recruit Team. And, I think the result can say something about me!
    <br>
  </div>

  <!-- <ul> -->
  <!-- <li>
          09/2020: Completed 2 specializations on Coursera: <a href="https://www.coursera.org/specializations/mathematics-machine-learning">Mathematics for Machine Learning</a> and <a href="https://www.coursera.org/specializations/data-science-python">Applied Data Science with Python</a> on Coursera. [<a href="file/MfML.pdf">Certification_MfML</a>] [<a href="file/ADS.pdf">Certification_ADS</a>]
      </li>
  </ul> -->
  <br>

  <h3 id="Project"><strong>Projects</strong></h3>
  <div class="boxed">
    <strong>2020Full--CSE 5525: Speech and Language Processing, <a
        href="http://web.cse.ohio-state.edu/~sun.397/courses/au2020/cse5525.html">[Coruse Website]</a></strong><br>
    <!-- <a href="img/Placeholder-1.png"><img class="displayed" src="img/Placeholder-1.png" style="float:right"></a> -->
    <list>
      <li>
        <a href="pdf/CSE5525_Project_Proposal.pdf">Project Proposal</a>
      </li>
      <li>
        <a href="pdf/CSE5525_Final_Report_NeurIPS_version_.pdf">Final Project Thesis</a>
      </li>
      <li>
        <a href="pdf/CSE5525_presentation_v2.0.pdf">Final Project Presentation</a>
      </li>
    </list>
    <strong>Summary: </strong>In this project, we proposed a hybrid filtering movie recommendation system that combines
    the idea of content-based filtering and collaborative filtering and integrated the representation learned from
    multiple sources. While conducting the experiments, we explored the performance of text embedding methods by using
    it as our text-embedding module, and designed unique metapaths and a novel rating-aware sampling policy for graph
    embedding. Leveraging both text and graph contextual information, the system further improved the quality of
    recommendation system compared to methods using single information source.
    <br>
  </div>
  <div class="boxed">
    <strong>2020Full--CSE 5249 Research Project: Scaling Distributed DNN Training for Large Images, <a href="http://hidl.cse.ohio-state.edu/">[OSU HiDL Lab]</a></strong><br>
    <list>
      <!-- <li>Piazza (discussion, announcements and restricted resources).  <a href='https://piazza.com/class/jl02j1py12v28l?cid=1'>https://piazza.com/class/jl02j1py12v28l?cid=1</a></li> -->
      <li>
        <a href="pdf/NSF CSSI Proposa(for public shared version).pdf">NSF CSSI Project Proposal</a>
      </li>
      <li>
        <a href="pdf/Literature Review _ Research Hypothesis.pdf">Literature Review</a>
      </li>
      <li>
        <a href="pdf/Dec01_Presentation.pdf">Final Project Presentation</a>
      </li>
      <li>
        <a href="pdf/CSE5249_ Final Report.pdf">Final Project Report</a>
      </li>
      <li>
        Environment Installation Cheat Sheet: <a href="https://docs.google.com/document/d/1nTNkN33mIX40kPBpkNfBtY4t4jBnoQtaiickRBF5uCk/edit#">Installing Horovod with NCCL Openmpi</a> (<a href="pdf/2020fall-Installing Horovod with NCCL Openmpi.pdf">.pdf file</a>, 22 pages), <a href="https://docs.google.com/document/d/1LwXcswN4YVr2AgCZWD40cd4Cubs1Swx32w5vM2LLm1Q/edit">Examples of writing batch scripts on HPC server</a> (<a href="pdf/2020fall-Running a Batch Job on Owen Cluster.pdf">.pdf file</a>)
      </li>
    </list>
    <a href="img/5249_poster_(For public shared version).png"><img class="displayed"
        src="img/5249_poster_(For public shared version).png" style="float:center"></a>


    <!-- <br>
        It is expected to start during late October or early November. 
        The requirements of this project is <a href="http://web.cse.ohio-state.edu/~sivilotti.1/teaching/current/3901/labs/project6.html">here</a>.  -->
    <!-- <br><br><br><br><br><br><br><br> -->
  </div>
  <div class="boxed">
    <strong>2020Full--CSE 5914: AI Capstone</strong><br>
    <!-- <a href="img/Placeholder-1.png"><img class="displayed" src="img/Placeholder-1.png" style="float:right"></a> -->
    This is my undergraduate capstone project. I am trying to figure out a way to deploy the application to the Internet.
    <!-- <br>
        It is expected to start during late October or early November. 
        The requirements of this project is <a href="http://web.cse.ohio-state.edu/~sivilotti.1/teaching/current/3901/labs/project6.html">here</a>.  -->
        <!-- <a href="img/Placeholder-1.png"><img class="displayed" src="img/Placeholder-1.png" style="float:center"></a> -->
    <br><br><br><br><br><br><br><br>
  </div>

  <div class="boxed">
    <strong>2021Spring--CSE Honor Research Project: Image-Based Plant Leaf Disease Detection using
      InceptionV3</strong><br>
    <!-- <a href="img/Placeholder-1.png"><img class="displayed" src="img/Placeholder-1.png" style="float:right"></a> -->
    <list>
      <li>
        <a href="pdf/Research_Proposal_Zhengqi_V6_dtd.pdf">Project Proposal</a>
      </li>
      <li>
        <a href="pdf/Thesis_Presentation.pdf">Final Project Presentation </a>
      </li>
      <li>
        <a href="http://hdl.handle.net/1811/92441">Final Project Thesis </a>
      </li>
      <li>
        <a href="https://github.com/drago1234/2020Fall_Plant_disease_detection_Code">Github Repo </a>
      </li>
    </list>
    <!-- <br>
        It is expected to start during late October or early November. 
        The requirements of this project is <a href="http://web.cse.ohio-state.edu/~sivilotti.1/teaching/current/3901/labs/project6.html">here</a>.  -->
    <!-- Reference for embedding video: 1) https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_video, 2) https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video -->
    <!-- <br> -->
    <!-- <center>
          <video  controls poster="img/OSU_Denman Forum ResearchPoster_48x36_Scarlet.png" src="video/My_Poster_Presentation.mp4" >
          <p>Your browser does not support HTML video.</p>
          </video>
        </center> -->
    <a href="img/OSU_Denman Forum ResearchPoster_48x36_Scarlet.jpg"><img class="displayed" src="img/OSU_Denman Forum ResearchPoster_48x36_Scarlet.jpg" style="float:center"></a>
    <br>
  </div>

  <div class="boxed">
    <strong>2021Spring--CSE 5901.01: Scaling Distributed DNN Training for Large Images(continued with last semester project)</strong><br>
    <list>
      <li>
        <a href="./pdf/2021spring-Literature Review.pdf"> NSF Grand Proposal practice</a>
      </li>
      <li>
        <a href="./pdf/2021spring-Grant Proposal.pdf"> Literature Review</a>
      </li>
      <li>
        <a href="./pdf/2021spring-CSE5914.01 Fianl Presentation.pdf">Final Project Presentation</a>
      </li>
      <li>
        <a href="./pdf/2021spring-Technical Report.pdf"> Final Project Report</a>
      </li>
      <li>
        <a href="./pdf/2021spring-CSE5914.01Poster_DNN_Training.pdf"> Final Project Poster</a>
      </li>
      <a href="img/2021spring-CSE5914.01Poster_DNN_Training.jpg"><img class="displayed" src="img/2021spring-CSE5914.01Poster_DNN_Training.jpg" style="float:center"></a>
    </list>
    <!-- <a href="img/Placeholder-1.png"><img class="displayed" src="img/Placeholder-1.png" style="float:right"></a> -->
    <!-- <br>
        It is expected to start during late October or early November. 
        The requirements of this project is <a href="http://web.cse.ohio-state.edu/~sivilotti.1/teaching/current/3901/labs/project6.html">here</a>.  -->
  </div>

  <br>
  <h3 id="Experiences"><strong>Professional Experiences</strong></h3>
  <ul>
    <li>
      <strong> Student Instructional Assistant , Ohio State University, Aug 2020 - Dec 2020</strong>
      <ul>
        <li><a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3461.pdf">CSE 3461: Computer Networking
            and Internet Technologies</a> (Full 2020)</li>
        <li> Grade students’ homework and report basic statistics and common mistakes to the professor.</li>
        <li> Answer students’ questions by holding office hours and replying to emails.</li>
        <!-- <li>Manage grades and course status with Carmen Canvas and write homework solutions with LaTeX </li> -->
      </ul>
    </li>
  </ul>

  <h3 id="FavoriteQuote"><strong>Award and Course Certification</strong></h3>
  <ul>
    <li>
      <a href="Award/Tensorflow Developer Certificate.pdf">Google -- Tensorflow Certification</a> (Awarded in Dec 2020.
      You can find me on <a href="https://developers.google.com/certification/directory/tensorflow">TensorFlow
        Certificate Network</a>)
    </li>
    <li>
      <a href="Award/DeepLearning.AI Tensorflow Developer Certificate.pdf">Coursera -- TensorFlow in Practice
        Specialization</a> (Awarded in Aug 2020)
    </li>
    <li>
      <a href="Award/IEEE-Sensors for Autonomous Vehicles.pdf">IEEE -- Sensoors for Autonomous Vehicles</a> (Awarded in
      Seq 2019)
    </li>
  </ul>
  {% include_relative award_slide_show.html %}


  <h3 id="FavoriteQuote"><strong>Favorite Quote</strong></h3>
  <ol>
    <li>Don't waste time dreaming of great far-away opportuniies; start to work and improve yourself right now. Someday
      a small opportuniies will come, and those are often the beginning of great and amazing things.</li>
    <!-- <li>
          <strong> CSE 3321: Automata and Formal Languages (Autumn 2020) </strong>
        </li> -->
    <li>"A small group of dedicated people can change the world!" --A friend of mine</li>
    <li>"Imagination is more important than knowledge." --Alber Einstein</li>
    <li>"You MULTIPLY your time by giving yourself the EMOTIONAL PERMISSION to spend time on things TODAY that will give
      you more time TOMORROW" --Rory Vaden</li>
    <li>"I am not afraid of a person who knows 10000 kicks. But I am afraid of a person who knows one kick but practices
      it for 10000 times." --Bruce Lee</li>
    <li>If you don't measure, you don't know; If you don’t profile, you can’t tell where it spent. </li>
    <li>"Premature Optimization is the root of all evil." --Knuth</li>
    <li>"When he talks, people listen"-- Warren Buffet</li>
    <li>"Be fearful when others are greedy and greedy when others are fearful." -- Warren Buffet</li>
    <li>"20% of your activitie will account for 80% of your results."" -- Pareto principle</li>
    <li>Get the most important thing done at first! -- "Organize Tommorrow Today"</li>
    <li>"What doesn’t kill you makes you stronger." -- Friedrich Nietzsche</li>
    <li>“世界上只有一种真正的英雄主义，那就是在认清生活的真相后依然热爱生活。” --罗曼·罗兰 《米开朗琪罗》</li>
  </ol>
  <br>

  <h3 id="Miscellaneous"><strong>Miscellaneous</strong></h3>
  <ul>
    <li>
      <p>Note: This website is still under development. I am consistently working on the Front-end design of different
        components, background themes, and try to integrate more meaningul functionality and features to make it looks more
        professional and easy to navigate! (Search bar is not implemented, please bear with me!)</p>
      </li>
      <li>
        <p>Note: I am using the Jekyll to build this website, but there is another one called Hugo if you interest to know
          more, click this <a href="https://github.com/gohugoio/hugo">link</a> here, and here is the <a
            href="https://github.com/tummychow/lanyon-hugo">Lanyon theme</a> for Hugo.</p>
      </li>
    <li>
      <p>If you have any good suggestion or comments, you can welcome to enter them in the discussion panel below, and I will reponse to you whenever I can!</p>
    </li>
    <li>
      TO-DO: 1) Changes Tags to Tag cloud--<a href="https://www.diversit.eu/post/2017/09/09/jekyll-tag-cloud.html"> an example</a>, 2) Add an login portal for backend data management. 3) Add a portal that can connect to my photo sharing and movie recommendation applications (Add all those graduation photots to your photo sharing app, if time allows!). 4) Design the home page for my knowledge bank, and start thinking about what component I want to put there, and what is the best way to arrange/organize them. 5) Finish the editing of MPI tutorial, and other 3 labs related to Operating System. 6) Consistently update those summary sheet that I created for those coding algorithms.
    </li>
  </ul>
  <br>

  {% include comments.html %}

  <!-- <h3 id="FavoriteQuote"><strong>Comment Behavior Question</strong></h3>
      <ol>
        <li>
          Q: Tell me about yourself? 
          A: You can find the answer above, pretty self-contained!
        </li>
        <li>
          Q: Greatest strength and weakness:
          A: Strength: Quick learner. Weakness: Public Speaking. 
        </li>
        <li>
          Q: Where do you see yourself in 5 years?
          A: I will see myself related to words like, Software Engineer, Robotic Engineer, Data Science, Entrepreneur... But, you know the only unchange is change, probably I will be a billionaire, who knows! : )
        </li>
        <li>
          Q: Why do you want to become a ____?
          A: Because .... ==> The fact is this major is profitable, lucrative, has big demand of human talents, and the current moving trend of technology, and it has a big inclusive community.
        </li>
        <li>
          Q: What would other people describe you?
          A: Smart, Brave, ... ==> The fact is people tend to hind what they really think of you, and they often can just can see one facet of you, so sometime I don't really know it's truth or not. ==> So, let me give you couple words that I would like to describe myself: Persistent, Passionate, Practical, Dynamic, Ambitious, Independent, Energetic, Optimistic, Understanding, Proactive, Self-motivated, Unconventional, Determined, Versatile, Sincere, Meticulous, Thoughtful, Straightforward, Reliable, Motivated.
          And some other feature that I am trying to add to myself: People-oriented, Modest, Witty, Professional, Good Communicator
        </li>
        <li>
          Q: How do you handle stress?
          A: Running, Waling, any outdoor activitie sounds a good option to me!
        </li>
        <li>
          Q: How do you prioritize taks and chanding demands?
          A: Well, I think it really depends on three factor: time, space, and human condition! For example, 9'c at night, do you think it's more important to have a dinner or to finish the assignment that is gonna due tonight? ==> Depends, right? Time: If you were working all day and even skipped the lunch, then it would be a good idea to have a dinner first. Space: There are tons of rastaurant around your home, and you can get a very yummy bibimbap within 15 min, so why not? Human: You parent is staring with that blazing eyes, well, you probably should do something...
        </li>
        <li>
          Q: Tell me about a time you made a mistake and what did you do to improve?
          A: Long story short.... TODO...
        </li>
        <li>
          Q: Tell me about a time you stepped into a leadership role.
          A: Long story short.  ==> Just merely one leadership experience when I was the vice precident of OSU table tennis club. But, I read a lot, and heard a lot of experience from other. So, in my opinion, leadership just about taking initiative, being proactive, do the things that nobody wants to do, and get it done!
        </li>
        <li>
          Q: Tell me about a time you worked as part of a team.
          A: In my experience, when you just started to work in a team with people that you are not familiar with, you really want to start by asking people's opinions, being more collaborative, bring up the idea to the table, start taking the responsibility, thinking ahead...
        </li>
        <li>
          Q: Tell me about a conflict you've faced and how you dealt with it?
          A: Either you should solve the conflict with the people that you have conflict with. Or come to an agreement that majority of people are happy with.
        </li>
        <li>
          Q: Why would you be a good fit for ___?
          A: Because I know most of things that listed on the Job Description! And feeling confident and ready for the job.
        </li>
        <li>
          Q: What qualities do you possess that will make you a good ___?
          A: I think I've answered this one, but I've listed all the importnat things in my resume!
        </li>
      </ol> -->

  <!-- Note: Not really sure why people want to these question during interview. What could you find out from those question?? What value can you discover from me by asking those questions? If I give you all the answer you expected, will you believe it? If not, them are we wasting time of talking?? -->
  <!-- Note: Not really good a making story, but who don't like terms code, right? -->
  <!-- <h3 id="TMI"><strong>TMI</strong></h3>
      I was born on Thanksgiving that year. <br>
      I like singing and is a pop music fan (Kpop, Jpop, American pop, ...) <br>
      <br><br><br> -->

<!-- </body>
</html> -->