---
layout: default
---

<!doctype html>
<html lang="en">
<!-- Header  -->
{% include header.html %}


<body>
  <!-- Google Tag Manager (noscript): Additionally, paste this code immediately after the opening <body> tag: -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PL3VB6N" 
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <!-- page Navigation panel  -->
  {%include navigation.html %}
  <br>

  <!-- page Content -->
  <div class="container-xl">
    <div class="row">
      <div class="page-content col-sm-9">
        {{ content }}
      </div>
      <div class="col-md-3">
        {% include sidebar.html %}
      </div>
    </div>
</div>

  <!-- page Footer -->
  {% include footer.html %}

  <!-- javascript ================================================== -->
  <!-- Placed at the end of the document so the pages load faster, read more here, https://levelup.gitconnected.com/all-about-script-87fea475b976#:~:text=The%20best%20practice%20is%20to,then%20everything%20inside%20the%20body  -->

    <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    

  <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"> </script>
    <link href="/assets\bootstrap\js\bootstrap.bundle.min.js" rel="stylesheet">
    <script src="/assets/js/customscripts.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script> -->
    <!-- <script src="/assets/bootstrap-3.2.0-dist/js/bootstrap.min.js" crossorigin="anonymous"></script> -->

  <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
    <!-- <script src="https://use.fontawesome.com/4036a2809a.js"></script> -->

  <!-- Google Prettify -->
    <script type="text/javascript" src="/public/js/prettify.js"></script>

  <!-- MathJax -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->

  <!-- Self scripts -->
    <!-- <script src="/public/js/scripts.js"></script> -->
</body>

</html>
