---
layout: default
---
<br/>
<div class="post">
  <span class="post-metadata">
    <h3><b>{{page.title}}</b></h3>
    <!-- post date -->
    Published:&nbsp; By Zhengqi(Drago) Dong on
    {{ page.date | date: "%B %d, %Y" }}
    &bull; <a href={{ page.id | absolute_url | append: '#disqus_thread'}}> Post a comment</a>
    <br/>
    <!-- Note: The category and tag for each post is defiend within post itself. -->
    <!-- post categories -->
    {% if page.categories.size > 0 %}
      {% if page.categories.size == 1 %}
        Category:
      {% else %}
        Categories:
      {% endif %}
      {% assign category_list = page.categories | sort %}
      <!-- link to each category -->
      {% for category_name in category_list %}
        {% capture category_id %}{{ category_name | downcase }}{% endcapture %}
        <a class="category-name" href="{{ site.url }}{{ site.baseurl }}/categories/#{{ category_id }}">
        <!-- Rerence: https://fontawesome.com/v4.7.0/icon/folder-open -->
          <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp; 
            {{ category_name }}
        </a>
      {% endfor %}
    {% endif %}

    <!-- post tags -->
    {% if page.tags.size > 0 %}
      <br/>
      {% if page.tags.size == 1 %}
        Tag:
      {% else %}
        Tags:
      {% endif %}
      {% assign tag_list = page.tags | sort %}
      <!-- link to each tag -->
      {% for tag_name in tag_list %}
        {% capture tag_id %}{{ tag_name | downcase | replace: "_", "-" }}{% endcapture %}
        <a class="tag-name" href="{{ site.url }}{{ site.baseurl }}/tags/#{{ tag_id }}">
          <i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag_name }}
        </a>
      {% endfor %}
    {% endif %}
  </span>
</div>

<!-- Breadcrumbs (就是文件路径) -->
Breadcrumbs: {% include breadcrumbs.html %}

<!-- The Table of Contents -->
<!-- <h4>Table of Contents</h4> -->
<!-- <div id="toc"></div> -->
<hr>    

{{ content }}

<div class="related">
  <h4>Related Posts</h4>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <p>
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            {{ post.title }} - <small>{{ post.date | date: "%B %d, %Y" }}</small></a>
        </p>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
